body {
  margin: 0;
}


.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  padding: 30px;
  gap: 10px
}

.search-form input::placeholder {
  font-size: 20px;
  align-items: center;
  color: #686868
}

.search-form input {
  text-align: center;
  height: 50px;
  width: 500px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  outline: none;
}

::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}

.search-form button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #686868;
  font-size: 20px;
  font-weight: 500;
}

.search-form button:hover {
  background-color: #686868;
  color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 30px
}

.load-more {
  display: none;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #686868;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.load-more:hover {
  background-color: #fff;
  color: #686868;
}